body {
  font-family: "K2D", sans-serif;
  font-size: 20px;
  margin: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #333;
  overflow: hidden;
}

.keyboard {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -o-user-select: none;
}
.keyboard__row {
  display: flex;
}
.keyboard__key {
  flex: 1 0;
  height: 25px;
  padding: 5px 10px;
  min-width: fit-content;
  background: #212121;
  color: white;
  border-radius: 5px;
  margin: 2px;
  cursor: pointer;
  white-space: nowrap;
}
.keyboard__key.hovered {
  background: linear-gradient(0deg, #212121 0%, #666 100%);
}
.keyboard__key.pressed {
  background: #666;
}
.keyboard__key.key-36 {
  flex: 1 0 3%;
}
.keyboard__key.key-48 {
  flex: 1 0 6%;
}
.keyboard__key.key-59 {
  flex: 1 0 30%;
}
.keyboard__key.key-60 {
  flex: 1 0 5%;
}
.keyboard__key.key-57:nth-child(5) {
  border-radius: 5px 0 5px 5px;
  flex: 0 0 11%;
}
.keyboard__key.key-57:nth-child(5).hovered {
  background: linear-gradient(0deg, #666 10%, #212121 90%);
}
.keyboard__key.key-57:nth-child(10) {
  border-bottom: none;
  margin-top: 2px;
  margin-bottom: -6px;
  border-radius: 5px 5px 0 0;
  height: 32px;
  z-index: 10;
}
@media (max-width: 800px) {
  .keyboard {
    font-size: 12px;
  }
}

.inputField {
  border: 1px solid black;
  max-width: 100%;
  flex: 1;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow-y: scroll;
  margin-bottom: 5px;
  cursor: pointer;
  background-color: #ccc;
}
.inputField.active {
  background-color: white;
}
.inputField b {
  animation: blink 1s steps(5, start) infinite;
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}